.jumbotron
{
	background-color: #f4c63d; /* Orange */
	color: #ffffff;
}

.gly-spin
{
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

@-moz-keyframes spin
{
	0%
	{
		-moz-transform: rotate(0deg);
	}
	100%
	{
		-moz-transform: rotate(359deg);
	}
}

@-webkit-keyframes spin
{
	0%
	{
		-webkit-transform: rotate(0deg);
	}
	100%
	{
		-webkit-transform: rotate(359deg);
	}
}

@-o-keyframes spin
{
	0%
	{
		-o-transform: rotate(0deg);
	}
	100%
	{
		-o-transform: rotate(359deg);
	}
}

@keyframes spin
{
	0%
	{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%
	{
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}